doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Avon
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/style.css')

		//- script(src="script/jquery-2.2.0.js", type="text/javascript")
		//- script(src="script/scripts.js", type="text/javascript")

	body
		header.header
			.container
				.header__wrapper
					a.header__logo(href="/")
						img(src="img/logo.png")
					.header__contacts
						a.header__contacts-item.header__contacts-item--email(href="mailto:avon-team@yandex.ru") 
							span avon-team@yandex.ru
						a.header__contacts-item.header__contacts-item--phone(href="") 
							span +7 904-322-80-79

			nav.main-menu
				.container
					.main-menu__wrapper
						ul.main-menu__list
							li.main-menu__item
								a.main-menu__link(href="#") О нас
							li.main-menu__item
								a.main-menu__link(href="#") Как стать представителем
							li.main-menu__item
								a.main-menu__link(href="#") Анкета
							li.main-menu__item
								a.main-menu__link(href="#") Каталог
							li.main-menu__item
								a.main-menu__link(href="#") Подарки и бонусы
							li.main-menu__item
								a.main-menu__link(href="#") Контакты

						.social-icons
							a.social-icons__item.social-icons__item--fb(href="#")
							a.social-icons__item.social-icons__item--vk(href="#")
							a.social-icons__item.social-icons__item--odn(href="#")

