html {
	box-sizing: border-box;
	height: 100%;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-family: 'Arial';
	font-size: 15px;
	overflow-x: hidden;
}

img {
	display: block;
}

.container {
	margin: 0 auto;
	overflow: hidden;

	@media @extrasmall {
		width: @xs;
		padding: 0;
	}

	@media @small {
		width: @sm;
		padding: 0 15px;
	}

	@media @medium {
		width: @md;
	}

	@media @large {
		width: @lg;
	}
}

input {
	width: 100%;
	margin-bottom: 10px;
	padding: 11px 15px;
	font-size: 16px;
	border: none;
}

input:focus,
button:focus {
	outline: none;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;

	@media @medium {
		font-size: 30px;
		margin-bottom: 45px;
	}

	@media @small {
		font-size: 25px;
		margin-bottom: 25px;
	}
}