.slogan {
	width: 590px;

	@media @large {
		margin-bottom: 109px;
	}

	@media @medium {
		margin-bottom: 113px;
	}

	@media @small {
		display: block;
		margin-bottom: 99px;
	}

	@media @extrasmall {
		display: none;
	}

	&__header {
		font-weight: bold;
		margin-bottom: 35px;

		@media @large {
			font-size: 68px;
			line-height: 60px;
		}

		@media @medium {
			font-size: 55px;
			line-height: 50px;
		}

		@media @small {
			font-size: 45px;
			line-height: 40px;
		}
	}

	&__text {

		@media @large {
			font-size: 35px;
			line-height: 26px;
		}

		@media @medium {
			font-size: 30px;
			line-height: 26px;
		}

		@media @small {
			font-size: 27px;
		}
	}
}